:root,
page {
  // --wot-color-success: red;
  // --wot-color-warning: yellow;
}

page {
  height: 100%;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: normal;
}
